* {
    font-size: 12px;
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

form {
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(70, 77, 70, 0.2);
    height: 50%;
    padding: 3em;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6em;
}



input,button {
    padding: 1em;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;

    transition: 0.15s ease-in-out;
}

input {
    margin-top: 5px;    
    margin-bottom: 5px;
}

input:focus {
    border: 1px solid rgba(2, 111, 0, 1.0);
    outline: 5px solid rgba(2, 111, 0, 0.5);;
}

button {
    background-color: rgba(2, 111, 0, 1.0);
    color: white;
    border: none;

}

button:active {
    background-color: rgba(2, 111, 0, 0.2);
    color: black;
}

a:active {
    color: rgba(2, 111, 0, 0.5);
}